<%- include("partials/header.ejs")%>



    <div class="about-section">


        <div class="about-content-section">

            <div class="who-i-am-container about-sections-container">
                <h2 class="about-page-content-heading"> Who I'm</h2>
                <hr>
                <div class="who-i-am-content  about-content">
                    <ul>
                        <li>Problem Solver</li>
                        <li>Quick Learner</li>
                        <li>Nature Enthusiast</li>
                        <li>Curious MInd</li>
                    </ul>
                </div>
            </div>


            <div class="hobbies-container about-sections-container ">
                <h2 class="about-page-content-heading">Hobbies and Personal Interest </h2>
                <hr>
                <div class="hobbies-content about-content">
                    <ul>
                        <li>
                            Nature Trailing
                        </li>
                    </ul>
                </div>
            </div>

            <div class="my-goal about-sections-container">
                <h2 class="about-page-content-heading"> Goal</h2>
                <hr>
                <p class="about-content">"My goal is to use technology to solve real-world problems. I want to create
                    smart and efficient solutions that improve systems and make things work better. I aim to work on
                    projects that push the limits of technology and help others learn and grow in this field."</p>
            </div>

            <div class="why-tech about-sections-container">
                <h1 class="about-page-content-heading">Why I chose a technical Field ?</h1>
                <hr>
                <p class="about-content">"I chose the technical field because I’ve always been interested in how
                    technology can solve problems and bring new ideas to life. The way technology has changed over time,
                    from early computers to modern AI, really excites me. I enjoy learning new tools, languages, and
                    frameworks. For me, technology is not just about coding—it's about creating solutions, making things
                    work better, and discovering new possibilities. This is what inspired me to pursue a
                    career in tech."
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs")%>