<%- include('partials/header.ejs') %>
  <h1>Home page </h1>
  <p>Hello, Welcome</p>
  <h1>I'm Vishwjeet Ujgare</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non provident error adipisci inventore sapiente expedita, optio quam reiciendis exercitationem autem doloribus velit delectus necessitatibus impedit pariatur, harum iure corrupti laudantium. Iusto, sapiente cum alias mollitia dicta suscipit dolores beatae eos.</p>


  <%- include('partials/footer.ejs') %>