<section class="home-tab-section">

    <!-- Hero section -->
    <div class="section hero-section">
        <div class="overlay"></div>
        <div class="hero-section-container content-container">

            <div class="intro-container">
                <p id="welcome-msg">Welcome To My Portfolio</p>
                <h1>Hi, I'm <span>Vishwjeet Ujgare</span></h1>
                <p>A passionate learner and problem solver.</p>
            </div>

            <div class="social-logos-container">

                <div>
                    <a href="https://leetcode.com/u/jeet-lets-code/" target="_blank" title="LinkedIn Profile">
                        <img src="/img/home/svg/linkedin.png" alt="LinkedIn Logo">
                    </a>
                </div>

                <div>
                    <a href="https://github.com/vishwjeet-ujgare" target="_blank" title="GitHub Profile">
                        <img src="/img/home/svg/github.png" alt="GitHub Logo">
                    </a>
                </div>

                <div>
                    <a href="https://www.hackerrank.com/profile/vrvishwujgare" target="_blank" title="HackerRank Profile">
                        <img src="/img/home/svg/hackerrank.png" alt="HackerRank Logo">
                    </a>
                </div>

                <div>
                    <a href="https://leetcode.com/u/jeet-lets-code/" target="_blank" title="LeetCode Profile">
                        <img src="/img/home/svg/leetcode.png" alt="LeetCode Logo">
                    </a>
                </div>
            </div>

            <div class="about-me-section">
                <h2>About Me</h2>
                <p>
                    A <b>graduate with a Master's in Computer Applications</b>, a PG-Diploma in HPC Application
                    Programming, and a certified AWS Cloud Practitioner. I am passionate about solving real-world
                    problems through technology and constantly learning new skills to stay ahead in this ever-evolving
                    field.             </p>
            </div>
        </div>
    </div>

    <!-- Skills Section -->
    <section class="section skill-section">
        <div class="overlay"></div>
        `
        <div class="content-container skill-content-section">
            <h2 class="homepage-sections-heading">Skills</h2>

            <div class="skill-cards-container">
                <div class="skill-card">
                    <p class="skill-card-heading">Programming Languages</p>
                    <div class="skill-card-stack">
                        <p>java</p>
                        <p>c</p>
                    </div>
                </div>

                <div class="skill-card">
                    <p class="skill-card-heading">Front-End-Technologies</p>
                    <div class="skill-card-stack">
                        <p>HTML</p>
                        <p>javaScript</p>
                        <p>CSS</p>
                        <p>JQuery</p>
                        <p>EJS</p>
                        <p>ReactJS</p>
                    </div>
                </div>

                <div class="skill-card">
                    <p class="skill-card-heading">Front-End-Technologies</p>
                    <div class="skill-card-stack">
                        <p>HTML</p>

                        <p>EJS</p>
                        <p>ReactJS</p>
                    </div>
                </div>

                <div class="skill-card">
                    <p class="skill-card-heading">Front-End-Technologies</p>
                    <div class="skill-card-stack">
                        <p>HTML</p>

                        <p>EJS</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Explore and Connect Section -->
    <section class="section explore-connect-section">
        <div class="overlay"></div>

        <div class="content-container">
            <h2 class="homepage-sections-heading ec-section-heading">Explore & Connect</h2>
            <div class="ec-card">

                <div class="ec-button-container">
                    <a><button type="button" class="btn btn-outline-primary">Go To Project Section</button></a>
                    <a><button type="button" class="btn btn-outline-primary">Download Resume</button></a>
                    <a><button type="button" class="btn btn-outline-primary">Get In Touch</button></a>
                </div>

                <p>“ Let’s learn, innovate, and solve problems together to create opportunities, because the best way to
                    predict the future is to invent it. ”</p>

            </div>
        </div>

    </section>
</section>