
.about-section {
    width: 90%;
    margin: 20px auto;
}

.about-content-section {}

.about-page-content-heading {
    font-weight: bold;
    font-size: 2rem;
}

.about-content {
    text-align: justify;
    margin: 0px 10px 10px 50px;
}




.about-sections-container {
    border: 1px solid grey;
    margin: 17px;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 16px;
}

.about-sections-container hr {

    margin: 0px;
    margin-bottom: 16px;
}
