
<div class="education-section section-container">
    <div class="institution-logo-container">
        <a href="https://www.cdac.in/" target="_blank">
            <img class="institution-img" src="img/cdac-logo.jpeg" alt="CDAC Logo">
        </a>
        <p class="date-range">March-2024 To Aug-2024</p>
    </div>

    <div class="program-info">
        <div class="program-details">
            <h3 class="program-title">Post Graduate Diploma in High-Performance Computing in Application
                Programming</h3>
            <p class="university-name">Savitrabai Phule Pune University, Pune</p>
        </div>

        <div class="campus-info">
            <h4 class="campus-name"><a href="https://cdac.in/index.aspx?id=acts">CDAC, ACTS, Panchavati, Pune - 411014</a></h3>
                <div class="program-description">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered
                        alteration in some form, by injected humour, or randomised words which don't look even
                        slightly believable. There are many variations of passages of Lorem Ipsum available, but
                        the
                        majority
                        have suffered alteration in some form, by injected humour, or randomised words which
                        don't
                        look
                        even slightly believable.</p>
                </div>
        </div>
    </div>
</div>
